body{
    font-family: Arial, sans-serif;
    text-align: center;
}

#game-board{
display: grid;
grid-template-columns: repeat(4, 100px);
grid-template-rows: repeat(4, 100px);
grid-gap: 10px;
justify-content: center;
margin: 30px, auto;
}

/* hide cards*/
.card {
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.card .card-content {
    opacity: 0;
}

/* flip */
.card.flip .card-content {
    opacity: 1;
    max-width: 100%;
}

/* if there is a pair */
.card.matched {
    border: solid 4px green;
    box-sizing: border-box;
    cursor: default;
}

.card.flip{
    transform: rotateY(180deg);
}
.card .card-content {
    transition: all 0.3s;
}
.card {
    /*animation*/
    transform: rotateY(0deg);
    transition: all 0.5s;
}

.btn-restart {
    margin-top: 15px;
    font-family: Arial, sans-serif, bold;
    font-size: large;
    cursor: pointer;
}